/**** Postavitev strani - splosno ****/
body {
	margin: 0px;
	padding: 0px;
    font-family: 'Poppins';

}
article {
	height: 100%;
	width: 100%;
}

tr {
	height:50px;             
	text-align: left;
	align-items: center;
}

td {
	vertical-align: middle;
}

.wrapper { 
	max-width: 1032px; 
	height: 100%;
	margin: auto; 
}
h2 {
	font-weight: bold;
	font-size: 70px;
	text-align: center;
    color: #fff;
	letter-spacing: -2px;
	line-height: 1;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

h2.banner {
	font-weight: bold;
	font-size: 70px;
	text-align: center;
    color: #fff;
	letter-spacing: -2px;
	line-height: 1;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	margin-bottom:40px;
}

@media screen and (max-width: 910px) {
	h2.banner {
		font-size: 7vw;
	}	
}	

h3  {
	font-weight: bold;
	font-size: 23px;
	text-transform: uppercase;
	text-align: center;
    color: #fff;
	letter-spacing: 2px;
	line-height: 1;	
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

h3.banner {
	font-weight: bold;
	font-size: 23px;
	text-transform: uppercase;
	text-align: center;
    color: #333333;
	letter-spacing: 2px;
	line-height: 1;	
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}
@media screen and (max-width: 910px) {
	h3.banner {
		font-size: 2.5vw;
	}	
}	
h4 {
	font-size: 26px;
	font-weight: bold;
	text-transform: uppercase;
    color: #fff;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}
h5 {
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
    color: #fff;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

h6{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
    color: #383838;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

h7{
	font-size: 23px;
	font-weight: bold;
    color: #383838;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	line-height: 3.5;
}
.dark {
	color: #383838;
}
hr {
	height: 1px;
	border: none;
	background-color: #000;
	margin-top: 0px;
	margin-bottom: 50px;
}

.nomargin hr{
	height: 1px;
	border: none;
	background: linear-gradient(to right, #ce5776, #5ba76a, #289ed4);
	margin-top: 0px;
	margin-bottom: 0px;
}

hr.gray {
	height: 1px;
	border: none;
	background: #dbd9d9;
	margin-top: 0px;
	margin-top: 30px;
	margin-bottom: 30px;
}
/**** Zgornji meni ****/
nav.top {
	font-size: 15px;
	height: 30px;
	background-color: #fff;
	padding:0;left:0;top:0px;right:0;transition:all 0.5s;z-index:997;
}
nav.top ul {
    list-style-type: none;
    padding: 0px;
	height: 100%;
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
}
nav.top li {
	padding-left: 10px;
	padding-right: 10px;
	border-right: 1px solid;
	border-color: #565656;
}
nav.top li:last-child {
	border-right: none;
}
nav.top li a {
    display: block;
    color: #7f7f7f;
    text-align: center;
    text-decoration: none;
}
nav.top li a:hover {
    color: #dbd9d9;
}

nav.top .topactive a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #dbd9d9;
}

/**** Glavna sekcija ****/
#main {
	background-repeat: no-repeat;
	background-size: cover;
	height: 680px;
    margin:0px;
    padding:0px;	
}

nav.main {
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
	height: 92px;
	background-color: rgba(120, 120, 120, 0.5);
	padding:0;left:0;top:0px;right:0;transition:all 0.5s;z-index:997;
}
nav.main ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
	height: 100%;
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
}
nav.main ul.home {
	float: left;
}

nav.main li{
	padding-left: 10px;
	padding-right: 10px;
	justify-content: center;
	align-items: center;
	width: 123px;
}

nav.main li a {
    display: block;
    color: #fff;
    text-align: left;
    text-decoration: none;
	line-height: 1;
}
nav.main li a:hover {
    color: #dbd9d9;
}
.main-content {
	height: 100%;
    display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/**** Meni backenda  ****/
.navbar, .navbar-default
{
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
	min-height: 92px;
	background-color: #F5F5F2;
	color: #383838;
	padding: 15px;
	margin-top: 30px;
	
}

/**** Glavni meni podstrani ****/
#main-small {
	
	background-repeat: no-repeat;
	background-size: 100%;
	height: 712px;
}

nav.main-small {
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
	height: 97px;
	background-color: rgba(120, 120, 120, 0.5);
	padding:0;left:0;top:30px;right:0;transition:all 0.5s;z-index:997;
	border-bottom-style: solid;
	border-bottom-width: 5px;
	border-color: #0000;
}

@media screen and (max-width: 600px) {	
	ul.home {
		font-size: 3vw;
	}
}
nav.main-small ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
	height: 100%;
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
}
nav.main-small ul.home {
	float: left;
}

}
.home1 a {
	width: 300px;
}

nav.main-small li {
	padding-left: 10px;
	padding-right: 10px;
	justify-content: center;
	align-items: center;
	width: 123px;
}
nav.main-small li a {
    display: block;
    color: #383838;
    text-align: left;
    text-decoration: none;
	line-height: 1;
}
nav.main-small li a:hover {
    color: #575757;
}
.main-small-content {
	height: 100%;
    display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/**** Kategorij meni podstrani ****/
#main-small2 {
	
	background-repeat: no-repeat;
	background-size: 100%;
	height: 712px;
}

nav.main-small2 {
	font-weight: normal;
	font-size: 18px;
	color: #5d5d5d;
	text-transform: none;
	height: 70px;
	background-color: #f9f9f9;
	
	padding:0;left:0;top:130px;right:0;transition:all 0.5s;z-index:997;
}
nav.main-small2 ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
	height: 100%;
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
}
nav.main-small2 ul.home {
	float: left;
}
nav.main-small2 li {
	padding-left: 10px;
	padding-right: 10px;
	justify-content: center;
	align-items: center;
}
nav.main-small2 li a {
    display: block;
    color: #383838;
    text-align: left;
    text-decoration: none;
	line-height: 1;
}
nav.main-small2 li a:hover {
    color: #575757;
}
.main-small2-content {
	height: 100%;
    display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

nav.main-small2 ul.home {
	float: left;
}

nav.main-small2 li {
	margin: 5px;
	padding-bottom: 5px;
}

nav.main-small2 li.lighter {
	color: #838383;
	margin-top: 8px;
}

nav.main-small2 li.tag1 {
	border-bottom: 2px solid;
	border-color: #ce5776;
}
nav.main-small2 li.tag2 {
	border-bottom: 2px solid;
	border-color: #5ba76a;
}
nav.main-small2 li.tag3 {
	border-bottom: 2px solid;
	border-color: #289ed4;
}

/**** Sekcija modulov ****/
#modules {
}

nav.modules {
	font-weight: normal;
	font-size: 20px;
	height: 78px;
	background-color: #383838;
	color: #5d5d5d;
}

@media screen and (max-width: 600px) {	
	nav.modules {
		font-size: 3vw;
	}
}

nav.modules ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
	height: 100%;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}
nav.modules li.search {
	float: right;
	width: 25px;
}

ul.home li.search {
	float: right;
	width: 25px;
}
@media screen and (max-width: 700px) {	
	nav.modules li.categorieshide {
		display:none;
	}
	
	ul.home li.categorieshide {
		display:none;
	}
}

nav.modules li.searchhide{
	float: right;
	width: 50px;
}

ul.home li.searchhide{
	float: right;
	width: 50px;
}
@media screen and (max-width: 770px) {
	nav.modules li.searchhide {
		display:none
	}
	
	ul.home li.searchhide{
		display:none
	}
}
nav.modules li.lihide {
	width: 120px;
	display:flex;
}

ul.home li.lihide{
	width: 270px;
	display:flex;
}

@media screen and (max-width: 1032px) {	
	nav.modules li.lihide {
		width: 15%;
	}
	
	ul.home li.lihide{
		width: 10%;
	}
}

@media screen and (max-width: 600px) {	
	nav.modules li.lihide {
		display:none;
	}
	
	ul.home li.lihide {
		display:none;
	}
}

nav.modules li {
	padding-left: 10px;
	padding-right: 10px;
	justify-content: center;
	align-items: center;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-color: #383838;
	padding-bottom: 5px;
	margin: 10px;
}
nav.modules li p {
    display: block;
    text-align: left;
    text-decoration: none;
	line-height: 1;
	padding: 0px;
	margin: 0px;
}
nav.modules li a {
    display: block;
    color: #fff;
    text-align: left;
    text-decoration: none;
	line-height: 1;
}
nav.modules li a:hover {
    color: #dbd9d9;
}

nav.modules img {
    vertical-align: sub;
}

.modules-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: stretch;
	width: 100%;
}
.module-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: stretch;	
	width: 100%;
}

@media screen and (max-width: 722px) {
	.module-row {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: stretch;	
	}
}

.modulecat-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;	
	width: 100%;
}

.modulecat-row-item {
	width: 33%;
	margin-right: 20px;
}
.modcatimg {
	width: 100%;
	height:60%
}

@media screen and (max-width: 800px) {
	.modulecat-row {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
        align-items: center;
	}
	
	.modulecat-row-item {
		width: 50%;
		text-overflow: ellipsis;
	}
	
	.modcatimg {
		width: 100%;
		height:65%
	}
}

.module-gallery {
	height: 410px;
	padding: 20px;
	background-size: cover;
	flex-shrink: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.module-gallery a:hover{
	text-decoration: none;
}
.tag {
	width: 25px;
	height: 5px;
	float: left;
	margin: 5px;
}
.tag01 {
	background-color: #ce5776;
}
.tag02 {
	background-color: #5ba76a;
}
.tag03 {
	background-color: #289ed4;
}
#tag01 {
	border-color: #ce5776;
}
#tag02 {
	border-color: #5ba76a;
}
#tag03 {
	border-color: #289ed4;
}

/**** Sekcija z zemljevidom ****/
h3.map  {
	font-weight: bold;
	font-size: 23px;
	text-transform: uppercase;
	text-align: center;
    color: #383838;
	letter-spacing: 2px;
	line-height: 1;	
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

h2.map {
	font-weight: bold;
	font-size: 70px;
	text-align: center;
    color: #383838;
	letter-spacing: -2px;
	line-height: 1;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}


#map {
	
}
#map header {
	background-color: #fff;
	height: 260px;
    margin: 0px;
    padding: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#gmap {
	width: 100%;
	height: 820px;
}
.map-popup img {
	width: 100%;
}

/**** Sekcija s splosnimi informacijami ****/
#about {
	height: 100%;
}

.about-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: stretch;	
	width: 100%;
}

@media screen and (max-width: 600px) {
	.about-row {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: stretch;	
	}
}

.btn-about {
    background-color: #1ea265;
    padding-right: 50px;
    padding-left: 50px;
    font-weight: normal;
	font-size: 20px;
}

.btn-registration {
    background-color: #1ea265;
    padding-right: 50px;
    padding-left: 50px;
    font-weight: normal;
	font-size: 20px;
	float:left;
}
nav.about{
	font-weight: normal;
	font-size: 20px;
	margin-bottom: 50px;
}

nav.about img {
    margin-bottom: 40px;
}


nav.tags {
	font-weight: bold;
	font-size: 20px;
	text-transform: uppercase;
}
nav.tags ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
nav.tags li {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 16px;
	
}

nav.tags img {
    margin-bottom: 25px;
    margin-top: 55px;
}

/**** Noga ****/
p.pf {
	text-align: center;
	font-size: 16px;
	color: #383838;	
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 30px;
}
p.credits {
	text-align: center;
	font-size: 13px;
	color: #c9c9c9;
	margin-top: 40px;
	margin-bottom: 20px;
}

.navbar {
  height: 30px;
}

.imageheader {
	background-image: url('/images/image-header.jpg');
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
}

/**** Teksti  ****/
.hometext {
	margin-top: 30px;
	text-align: center;
	font-size: 20px;
	font-weight: normal;
	color: #383838;	
	letter-spacing: 0px;
	text-transform: none;
	line-height: 1.2;
}

h5.category {
	text-align: left;
	font-size: 20px;
	font-weight: normal;
	color: #383838;	
	text-transform: none;
	line-height: 2;
}

h4.pagetitle {
	text-align: center;
	font-size: 15px;
	font-weight: normal;
	color: #838383;	
	text-transform: uppercase;
	line-height: 2;
	letter-spacing: 2px;
}

h5.pagetitle {
	text-align: center;
	font-size: 20px;
	font-weight: normal;
	color: #383838;	
	text-transform: none;
	line-height: 2;
}

h3.pagetitle {
	text-align: center;
	font-size: 32px;
	font-weight: bold;
	color: #383838;	
	letter-spacing: -2px;
	text-transform: none;
}

div.pagetitle {
    list-style-type: none;
    margin: 0px;
    margin-top: 60px;
    padding: 0px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: none;
}

div.pagetitle img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

div.pagetitle2 {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: none;
	margin-bottom: 30px;
}

p.pagetitle2 {
	text-align: center;
	font-size: 20px;
	font-weight: normal;
	color: #838383;	
	text-transform: none;
	letter-spacing: 0px;
	line-height: 1.1;
}

hr.pagetitle2 {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 200px;
	height: 1px;
	border: none;
	background: #DDDDDD;
}

.pagetags {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: #383838;	
	letter-spacing: 1px;
	text-transform: none;
}

div.pagetags {
    list-style-type: none;
    margin: 0px;
    margin: 5px;
    padding: 0px;
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: none;
	background-color: #ddd;
}

p.pagetags {
	text-align: center;
	color: #383838;	
	letter-spacing: 2px;
	line-height: 1;
	text-transform: none;
}


div.pagetextcontainer {
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 35px;
	justify-content: left;
	align-items: left;
}

.pagetext {
	text-align: left;
	font-size: 17px;
	font-weight: normal;
	color: #383838;	
	letter-spacing: 0px;
	text-transform: none;
	line-height: 1,1;
	text-transform: none;
}

.pagetexttitle {
	text-align: left;
	font-size: 30px;
	font-weight: bold;
	color: #383838;	
	letter-spacing: 2px;
	text-transform: none;
}

.form-signin
{
	align: center;
	width: 50%;
	text-align: center;
	font-size: 15px;
	color: #383838;	
	letter-spacing: 2px;
	text-transform: none;
}

.frame {
	display: block;
    margin-left: auto;
    margin-right: auto;
	justify-content: center;
	align-items: center;
	height: 434px;
	align:center;
	width: 655px;
	/*-webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%); /*ios 7 border-radius-bug */
	/*-webkit-transform: rotate(0.000001deg); /*mac os 10.6 safari 5 border-radius-bug */
	/*-webkit-border-radius: 10px; 
	-moz-border-radius: 14px;
	border-radius: 14px; 
	overflow: hidden;
	box-shadow: 5px 10px #888888; 
	border:14px solid #fff;*/
}

div.videourl {
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 52px;
    margin-bottom: 10px;
    height: 537px;
	width: 758px;
	background-image: url('/images/videoshadow.jpg');

}



p.googlemaps {
	text-align: left;
	color: #383838;	
	line-height: 1;
	text-transform: none;
	font-size: 15px;
	margin-top: 15px;
	margin-left: 15px;
	margin-bottom: 10px;
	margin-right: 15px;
}

h3.googlemaps {
	text-align: left;
	font-size: 13px;
	font-weight: normal;
	color: #383838;	
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-top: 15px;
	margin-left: 15px;
	margin-bottom: 10px;
	margin-right: 15px;
}

h4.googlemaps {
	text-align: left;
	font-size: 23px;
	font-weight: bold;
	color: #383838;	
	text-transform: none;
	line-height: 1;
	margin-top: 15px;
	margin-left: 15px;
	margin-bottom: 10px;
	margin-right: 15px;
}

div.googlemaps {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
	justify-content: center;
	align-items: center;
	text-transform: none;
	margin-bottom: 20px;
}

div.googlemaps img{
    display: block;
    margin: 0px;
    padding: 0px;
    width: 100% !important;
}

.gm-style-iw {
   width: 350px !important;
   top: 0 !important;
   left: 0 !important;
   background-color: #fff;
   box-shadow: 0 1px 6px rgba(131, 131, 131, 0.6);
   border: 1px solid rgba(131, 131, 131, 0.6);
   border-radius: 10px;
   /*margin-left: 230px;
   margin-top: 280px;*/
}

.gm-style-iw div div div div div div div div div {
  	display: none;
}

.gm-style-iw + div {
  	display: none;
}

/* Backend styles */
h3.betitle {
	text-align: center;
	font-size: 52px;
	font-weight: bold;
	color: #383838;	
	letter-spacing: -2px;
	text-transform: none;
}

div.betitle {
    list-style-type: none;
    margin: 0px;
    margin-top: 10px;
    height: 200px;
    padding: 0px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: none;
}

div.betitle img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

/* Status Itineraries */
.status-0 {color:#c0c0c0;}
.status-1 {color:yellow;}
.status-2 {color:crimson;}
.status-3 {color:orange;}
.status-4 {color:lightgreen;}
.status-5 {color:mediumpurple;}
.status-6 {color:lightskyblue;}
.status-7 {color:brown;}
.status-8 {color:black;}
/* Status Itinerary modules */
.status1-0 {color:#c0c0c0;}
.status1-1 {color:#c0c0c0;}
.status1-2 {color:yellow;}
.status1-3 {color:crimson;}
.status1-4 {color:lightgreen;}
.status1-5 {color:mediumpurple;}
.status1-6 {color:lightskyblue;}
.status1-7 {color:brown;}
.status1-8 {color:black;}


.notes 
{
	list-style-type: none;
    margin: 0px;
    padding: 0px;
	width: 100%;
	display: flex;
	justify-content: left;
	align-items: left;
	text-transform: none;
	font-size: 10px;
	font-weight: normal;
	color: #383838;	
}

.smalltext 
{
    margin: 20px;
    padding: 0px;
	text-transform: none;
	font-size: 11px;
	font-weight: normal;
	color: #383838;	
}

.smalltext2 
{
    margin: 0px;
    padding: 0px;
	text-transform: none;
	font-size: 11px;
	font-weight: normal;
	color: #383838;	
}

div.module-carousel {
	width:100%;
	height: 595px;
	overflow: hidden;
  	display: block;
}

div.module-carousel img {
	width:100%;
}

.search-top {
	border-top: 1px solid;
	border-color: #c0c0c0;
}

.search-bottom {
	border-bottom: 1px solid;
	border-color: #c0c0c0;
}

/* Collapsable menu*/
.topnav {
  overflow: hidden;
  width:100%;
  padding: 0px;
  margin: 0px;
  
}

.topnav a {
  float: left;
  display: block;
  color: #fff;
  text-align: left;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1;
  padding: 15px 16px;
}

.topnav a:not(:first-child) {
	padding-top:25px;
}
.topnav a:hover {
  color: #dbd9d9;
}

.active {
  
}

.topnav .icon {
  display: none;
}

.topnav .logostyle {
  width:110px;
  padding-top:5px;
  padding-left:15px;
}

.topnav .menuitem {
  width:140px;
}

.topnav .menuitemblank {
  width:270px;
}

@media screen and (max-width: 1032px) {
	.topnav .menuitemblank {
	  width:20vw;
	}
}
@media screen and (max-width: 950px) {
	.topnav .menuitemblank {
	  width:15vw;
	}
}
@media screen and (max-width: 850px) {
	.topnav .menuitemblank {
	  width:10vw;
	}
}
@media screen and (max-width: 810px) {
	.topnav .menuitemblank {
	  display: none;
	}
}
@media screen and (max-width: 810px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
    height:60px;
  }
}

@media screen and (max-width: 810px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 10px;
    background-color: #fff;
  }
  .topnav.responsive a:not(:first-child) {
    float: none;
    display: block;
    text-align: right;
    background-color: rgba(120, 120, 120, 0.5);
    padding: 15px 16px;
    height:70px;
  }

  .topnav.responsive .menuitem {
  	width:auto;
  	float: right;
    display: block;
	}
	
	.topnav.responsive .menuitemblank {
	  height:82px;
	  width:100%;
	  background-color: transparent;
	}
}

/* Collapsable menu for subpages*/
.topnav2 {
  overflow: hidden;
  width:100%;
  padding: 0px;
  margin: 0px;
}

.topnav2 a {
  float: left;
  display: block;
  color: #fff;
  text-align: left;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1;
  padding: 5px 16px;
}
.topnav2 a:not(:first-child) {
	padding-top:25px;
}
.topnav2 a:hover {
  color: #dbd9d9;
}

.active2 {
  
}

.topnav2 .icon2 {
  display: none;
}

.topnav2 .logostyle2 {
  width:110px;
}

.topnav2 .menuitem2 {
  width:140px;
}

.topnav2 .menuitemblank2 {
  width:270px;
}

.topnav2 .menuitemblank3 {
  width:380px;
}

@media screen and (max-width: 1032px) {
	.topnav2 .menuitemblank2 {
	  width:20vw;
	}
}
@media screen and (max-width: 950px) {
	.topnav2 .menuitemblank2 {
	  width:15vw;
	}
}
@media screen and (max-width: 850px) {
	.topnav2 .menuitemblank2 {
	  width:10vw;
	}
}
@media screen and (max-width: 810px) {
	.topnav2 .menuitemblank2 {
	  display: none;
	}
}
@media screen and (max-width: 810px) {
  .topnav2 a:not(:first-child) {display: none;}
  .topnav2 a.icon2 {
    float: right;
    display: block;
    height:60px;
  }
}

@media screen and (max-width: 810px) {
  .topnav2.responsive {position: relative;}
  .topnav2.responsive .icon2 {
    position: absolute;
    right: 0;
    top: 10px;
    background-color: #fff;
  }
  .topnav2.responsive a:not(:first-child) {
    float: none;
    display: block;
    text-align: right;
    background-color: rgba(120, 120, 120, 1);
    padding: 15px 16px;
    height:70px;
  }
  .topnav2.responsive .menuitem2 {
  	width:auto;
  	float: right;
    display: block;
	}
	
	.topnav2.responsive .menuitemblank2 {
	  height:82px;
	  width:100%;
	  background-color: transparent;
	}
}

@media screen and (max-width: 810px) {
  .main-small2.responsive {display: none;}
}

div.stars {
  display: inline-block;
}

input.star { display: none; }

label.star {
  float:right;
  padding-right: 10px;
  font-size: 30px;
  color: #383838;
  transition: all .2s;
}

input.star-1:checked ~ label.star:before  { color: Tomato; }
input.star-2:checked ~ label.star:before  { color: Orange; }
input.star-3:checked ~ label.star:before  { color: #ffcc00; }
input.star-4:checked ~ label.star:before  { color: #cccc00; }
input.star-5:checked ~ label.star:before  { color: #669900; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star-1:before {
  content: '\f119';
  font-family: FontAwesome;
}
label.star-2:before {
  content: '\f119';
  font-family: FontAwesome;
}
label.star-3:before {
  content: '\f11a';
  font-family: FontAwesome;
}
label.star-4:before {
  content: '\f118';
  font-family: FontAwesome;
}
label.star-5:before {
  content: '\f118';
  font-family: FontAwesome;
}

div.cookie-bar {
	font-size: 14px;
	height: 50px;
	background-color: #F5F5F2;
	padding:0;left:0;top:0px;right:0;transition:all 0.5s;z-index:997;
    padding: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
    text-align: center;
    text-decoration: none;
    color: #383838;
}

.btn-cookie {
    background-color: #1ea265;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: normal;
	font-size: 13px;
	color: #fff;
	height: 30px;
	justify-content: center;
	align-items: center;
    text-align: center;
    padding-top:3px;
}

.itinerarymod {
	background-color: #fff; 
	padding:15px;
}

td.itinerary {
	vertical-align: top;
}